<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/kaiadmin-lite-1.2.0/index.html" class="logo">
                <img src="/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#kategori">
                        <i class="fas fa-globe"></i>
                        <p>Kategori</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="kategori">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/Category/CategoryList">
                                    <span class="sub-item">Kategori Listesi</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Category/CreateCategory">
                                    <span class="sub-item">Kategori Oluştur</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#messaj">
                        <i class="fas fa-comment"></i>
                        <p>Mesajlar</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="messaj">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/Message/Inbox">
                                    <span class="sub-item">Gelen Mesajlar</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Message/SendBox">
                                    <span class="sub-item">Giden Mesajlar</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Message/SendMessage">
                                    <span class="sub-item">Mesaj Oluştur</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#destinasyon">
                        <i class="fas fa-plane"></i>
                        <p>Turlar</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="destinasyon">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/Destination/DestinationList">
                                    <span class="sub-item">Tur Listesi</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Destination/CreateDestination">
                                    <span class="sub-item">Tur Oluştur</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="/Admin/reservation/ReservationList">
                        <i class="far fa-calendar-check"></i>
                        <p>Rezervasyon Listesi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Widget/Index">
                        <i class="fas fa-desktop"></i>
                        <p>Widgets</p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Chart/Index">
                        <i class="fas fa-chart-pie"></i>
                        <p>Charts</p>

                    </a>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#profil">
                        <i class="fas fa-bars"></i>
                        <p>Profil Ayarları</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="profil">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/Profile/Index">
                                    <span class="sub-item">Profil Güncelleme</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
