<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
      
        <div class="copyright">
            © @DateTime.Now.Year <a href="#">Hüseyin Kurban ||</a> Tüm hakları saklıdır.
        </div>
      
    </div>
</footer>
